.kk {
    text-align: center;
    font-size: 40px;
      
    width: 40%;
}
.tbl1{
    
   
}


.angka {
    background: rgb(154, 153, 153);
}

.noKK{
    
    width: 40%;
    text-align: center;
    font-family: monospace,Arial, Helvetica, sans-serif;
     
}
.footer {
    width: 100%;
    
}
.foot2 {
    align-items: center;
}
.tbl2{
    margin-left: 12%;
    
  
}
.tbl3{
    margin-right: 20%;
}

.header{
    
}
.logo{
   
    
}
